/* Create variables to be used in all style documents for efficiency*/

$primary-color: #89CFF0;
$secondary-color: #89cff080;
$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$text-secondary: grey;
$text-color: black;
